.slick-arrow.slick-prev,
.slick-arrow.slick-next{
    background-color: rgb(255, 255, 255);
}

.slick-prev::before, .slick-next::before { color: rgb(0, 0, 0) !important; }

.slick-slider{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 470px;
    background-image: url("../../public/images/degree.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.slick-center{
    transform: scale(1.11);
}
