.prof-img{
    height: 200px;
    width: 200px;
    padding: auto;
}
.container-snip {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.snip1559 {
    font-family: "Jost", sans-serif;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    min-width: 250px;
    max-width: 480px;
    min-height: 502px;
    width: 100%;
    background-color: #ffffff;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.048);
}

.snip1559 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.snip1559 .profile-image {
    padding: 15% 10% 0;
}

.snip1559 .profile-image img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    /* border-radius: 50%; */
    max-width: 40%;
}

.snip1559 figcaption {
    padding: 5% 10% 15%;
}

.snip1559 h3 {
    font-family: "Jost", sans-serif;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.snip1559 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.snip1559 .icons i {
    color: #999;
    display: inline-block;
    margin-right: 5px;
    font-size: 1.5em;
}

.snip1559 .icons i:hover {
    color: #555;
}

.snip1559 .icons i a {
    text-decoration: none;
}

.student{
    font-weight: bolder;
    color: black;
}
.table-1 thead th{
    background-color:cornflowerblue;
    color: rgb(0, 0, 0);
    border-bottom-width: 0;
    border-color: black;
    border-style: solid;
}

.table-1 td, .table-1 th {
    color: black;
    padding: 8px 10px;
    font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
}

.table-1{
    border-color: 2px solid black;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}
.table-1 th {
    border-width: 1px;
    border-style: solid;
    background-color: cornflowerblue;
    border-color: rgb(0, 0, 0);
}

.heading {
    padding: 30px;
    font-size: 5rem;
    text-align: center;
}

.banner {
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://www.collegechalo.com/news/wp-content/uploads/2020/10/IIT-Mandi-winters-2048x1362.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.banner__content {
    display: flex;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.banner__text {
    width: 500px;
    position: relative;
    margin: 0 30px;
    font-size: 20px;
}

.banner_heading {
    font-size: 55px;
    padding: 30px 0;
}

.banner__btn {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 12px;
    padding: 20px 40px;
}

.btn-smart {
    background: #ff454f;
}

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid rgb(189, 189, 189);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 18px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    outline: 0;
    padding: 0 0px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.icons {
    margin: 10px 0;
}

.nav-unhide{
    margin-top: 110px;
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 150px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .button-59 {
        min-width: 70px;
    }
}