.slick-arrow.slick-prev,
.slick-arrow.slick-next {
    background-color: rgb(255, 255, 255);
}

.slick-prev::before,
.slick-next::before {
    color: rgb(0, 0, 0) !important;
}

.slick-slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 170px;
    background-color: rgba(202, 204, 206, 0.85);
}

.slick-center {
    transform: scale(1.11);
}

div#frame {
    display: flex;
    background: url("../images/backdrop.jpg") no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    border-radius: 30px;
    padding: 45px 35px;
    box-shadow: 8px 5px 5px rgb(54, 41, 26);
    margin: 100px auto;
}
.note {
    position: relative;
    width: 270px;
    height: 270px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    margin: 10px;
    border: 1px solid rgba(0,0,0,.25);
}

.sticky1 {
    transform: rotate(-2.5deg);
    -webkit-transform: rotate(-2.5deg);
    -moz-transform: rotate(-2.5deg);
    background-color: #CBFAFA;
}

.sticky2 {
    background-color: #f8f8f4;
}

.sticky3 {
    background-color: #ffff65;
}

.sticky0 {
    background-color: #ffbefa;
}

div#frame .pin {
    position: absolute;
    left: 50%;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: radial-gradient(yellow 50%, black 100%);
}

div#frame .pin2 {
    position: absolute;
    left: 50%;
    top: 4px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: radial-gradient(rgb(26, 198, 250) 50%, black 100%);
}

div#frame .pin1 {
    position: absolute;
    right: 3px;
    top: 3px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-image: radial-gradient(rgb(255, 41, 41) 50%, black 100%);
}

/* .text {
    font-size: 10px;
    margin: 8px;
    font-family: 'The Girl Next Door', cursive;
    
} */

.text > h4{
    font-size: 15px;
    font-family: 'The Girl Next Door', cursive;
    text-align: center;
}

.text > p{
    font-size: 13px;
    overflow: scroll;
}

div#frame a:hover.note {
    border: 1px solid rgba(0,0,0,.75);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}