#dataGrid{
    font-size: 15px !important;
}
.css-18lolh3-MuiDataGrid-root{
    font-size: 15px !important;
}
.css-11bfvty-MuiToolbar-root-MuiTablePagination-toolbar{
    font-size: 15px !important;
}
.MuiTablePagination-selectLabel{
    font-size: 15px !important;
}
.MuiTablePagination-displayedRows{
    font-size: 15px !important;
}
.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root{
    font-size: 15px !important;
}
.css-1miuj5f-MuiDataGrid-panelWrapper{
    font-size: 15px !important;
}
.css-1sjjn1c-MuiDataGrid-panelContent{
    font-size: 15px !important;
}
.css-q68e8e-MuiFormControl-root-MuiDataGrid-filterFormColumnInput{
    font-size: 15px !important;
}

.loaderContainer {
    height: 60vh;
    display: flex;
    justify-content: center;
}
.loader {
    border: 7px solid #f3f3f3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 7px solid #555;
    border-radius: 50%;
    width: 80px;
    height: 80px;

    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}