@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.prof-img {
    height: 200px;
    width: 200px;
    padding: auto;
}

.snip1559 .snip1560 .profile-image .person {
    font-family: 'Nunito Sans', sans-serif;
}
.content{
    background-color: #ffffff;
}
.container-snip {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

/* .container-snip:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);
} */

.snip1559 {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    min-width: 180px;
    max-width: 300px;
    min-height: 250px;
    width: 100%;
    background-color: #f1f4f7;
    color: #2B2B2B;
    text-align: center;
    font-size: 16px;
    box-shadow: 5px 5px 2.5px  #8e99a1 ;
}
.snip1559 :hover{
    background-color:#f1f4f7;
}
.text {
    color: #083661 ;
    font-size: 18px;
    padding:5%;
    text-align: left;
    /* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */
    /* border-radius: 10px; */

}

.middle {
    width: 100%;
    height: 100%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 60%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */
    /* text-align:inherit; */
}

/* .hide{
    display: none;
} */
.snip1559:hover .profile-image {
    /* display: block; */
    box-shadow: 0 0 11px #083661 ;
    opacity: 0;
    border-radius: 10px;
}

.snip1559:hover .middle {
    opacity: 1;
}

.snip1559 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.image {

    opacity: 1;
    display: inline;
    width: 100%;
    height: auto;
    transition: 0.2s ease;
    backface-visibility: hidden;

}

.snip1559 .profile-image {
    padding: 15% 10% 0;
    font-family: 'Acme', sans-serif;
}

/* .snip1559 .profile-image .head{
    font-family: 'Acme', sans-serif;
} */
.snip1559 .profile-image img {
    max-width: 100%;
    margin-bottom: 50px;
    vertical-align: top;
    position: relative;
    /* border-radius: 50%; */
    /* max-width: 60%; */
    border-radius: 100%;
}

.snip1559 figcaption {
    padding: 5% 10% 15%;
}

.snip1559 h3 {
    font-family: "Jost", sans-serif;
    /* text-transform: uppercase; */
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin: 3px 0;
}

.snip1559 h5 {
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    color: #888;
    letter-spacing: 1px;
}

.snip1559 .icons i {
    color: #999;
    display: inline-block;
    margin-right: 5px;
    font-size: 1.5em;
}

.snip1559 .icons i:hover {
    color: #555;
}

.snip1559 .icons i a {
    text-decoration: none;
}

.student {
    font-weight: bolder;
    color: black;
}

.table-1 thead th {
    background-color: cornflowerblue;
    color: rgb(0, 0, 0);
    border-bottom-width: 0;
    border-color: black;
    border-style: solid;
}

.table-1 td,
.table-1 th {
    color: black;
    padding: 8px 10px;
    font-size: 13px;
    font-family: Verdana;
    font-weight: bold;
}

.table-1 {
    border-color: 2px solid black;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}

.table-1 th {
    border-width: 1px;
    border-style: solid;
    background-color: cornflowerblue;
    border-color: rgb(0, 0, 0);
}

.placement {
    font-family: 'Nunito Sans', sans-serif;
}

.heading {
    padding: 30px;
    font-size: 5rem;
    text-align: center;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/team_cnp.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}


.banner__content {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.contain {
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
}

.banner__text {
    width: 500px;
    position: relative;
    margin: 0 30px;
    font-size: 20px;
}

.banner_heading {
    font-size: 55px;
    padding: 30px 0;

}

.banner__btn {
    margin-top: 20px;
}

.btn {
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 700;
    border-radius: 30px;
    font-size: 12px;
    padding: 20px 40px;
}

.btn-smart {
    background: #ff454f;
}

.button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid rgb(189, 189, 189);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-size: 18px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    outline: 0;
    padding: 0 0px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-59:focus {
    color: #171e29;
}

.button-59:hover {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.button-59:active {
    border-color: #06f;
    color: #06f;
    fill: #06f;
}

.icons {
    margin: 10px 0;
}

.nav-unhide {
    margin-top: 110px;
}

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}

.ca3-scroll-down-link {
    cursor: pointer;
    height: 45px;
    width: 60px;
    margin: 0px 0 0 -40px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    bottom: 150px;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}

html {
    scroll-behavior: smooth;
}

/*animated scroll arrow animation*/

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}

@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}

@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}

@media (min-width: 768px) {
    .button-59 {
        min-width: 70px;
    }
}

.pr-2{
    width: 100% !important;
}

.noticeForm{
    font-size: 25px;
}

.form-control{
    height: 40px;
}