.banner {
    width: 100%;
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/97/Victoria_Suspension_Bridge_in_Mandi_%2824638542387%292.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome{
    /* padding-top:100px; */
    /* background-image: url(../images/mountain.png); */
    background-color: rgba(0,0,0,0.6);
    left: 25%;
    position: absolute;
    /* margin: 30px; */
    top: 30%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    
}
.mountain{
    background-image: url(../images/mountain.png);
    background-color: rgba(0,0,0,0.1);
    height: 65px;
    width: 150px;
    background-size: contain;
    margin: auto;
    background-repeat: no-repeat;
}

.kamand1{
    color: rgba(255, 255, 255, 1);
    z-index: 10;
    font-size: 50px;
    margin: 10px;
    position: relative;
    opacity: 1;
}

.hotel{
    background-image: url(../images/village.jpeg);
}
.guestHouse1{
    width: 50%;
    text-align: center;
    padding: 5px 15px;
  }

.places2{
    display: flex;
    flex-direction: row;
    background-color: #94ADC1;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}

.guestHouse2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 50%;
    margin-bottom: 30px;
    border: 2px solid black;
    background-color: #093660;
    margin: 20px;
  }
.guestHouse3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50%;
    /* margin-left: 10px; */
    /* margin-bottom: 10px; */
    /* border: 2px solid black;
    background-color: #093660;
    margin: 20px; */
  }
  .village{
      width: 80%;
      height: 200px;
  }
  
  @media (max-width: 900px) {
    #front{
      flex-direction: column;
    }
    .guestHouse1{
      width: 90%;
    }
    .guestHouse2{
      width: 100%;
    }
    .guestHouse3{
      width: 100%;
    }
    .places{
        width: 90%;
    }
    .places2{
        flex-direction: column;
    }
  }
  .village{
      border-top-left-radius: 10px;
      border-bottom-right-radius: 10px;
  }

  .container-item{
      background-color: #FFEBD0;
      margin: auto;
  }
  .container-item2{
    background-color:#EAF9FF;
    margin: auto;
}
.places{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
}
.toVisit{
    background-color: #94ADC1;
}