.banner {
    width: 100%;
    height: 100%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/97/Victoria_Suspension_Bridge_in_Mandi_%2824638542387%292.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.welcome{
    /* padding-top:100px; */
    /* background-image: url(../images/mountain.png); */
    background-color: rgba(0,0,0,0.6);
    left: 25%;
    position: absolute;
    /* margin: 30px; */
    top: 30%;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    
}
.mountain{
    background-image: url(../images/mountain.png);
    background-color: rgba(0,0,0,0.1);
    height: 65px;
    width: 150px;
    background-size: contain;
    margin: auto;
    background-repeat: no-repeat;
}

.kamand1{
    color: rgba(255, 255, 255, 1);
    z-index: 10;
    font-size: 50px;
    margin: 10px;
    position: relative;
    opacity: 1;
}