@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body,
html {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #777;
  font-weight: 400;
  width: 100% !important;
  height: 100% !important;
}
.aboutUs{
  font-family: "Open Sans", sans-serif;
  color: #06738A;
  font-size: large;
  text-align:justify;
}

h5{
  color: #333333;
}

h2,
h3,
h4 {
  font-family: "Raleway", sans-serif;
}
h2 {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #333;
}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
h4 {
  font-size: 18px;
  color: #333;
  font-weight: 600;
}
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}
p {
  font-size: 15px;
}
p.intro {
  margin: 12px 0 0;
  line-height: 24px;
}
a {
  color: #608dfd;
  font-weight: 400;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #8293be;
}
ul,
ol {
  list-style: none;
}
ul,
ol {
  padding: 0;
}
/* background-image: linear-gradient(rgb(205, 227, 245), white,rgb(205, 227, 245)); */
#menu {
  background-color: #ffffff;
  padding: 15px;
  transition: all 0.8s;
}

.nav-top{
  background-image: linear-gradient(#031B31, #031B31,#031B31);
}

.nav-above{
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1003;
}

#menu.navbar-default {
  background-color: #6f7c997a;
  border-color: rgba(231, 231, 231, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#menu a.navbar-brand {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
#menu.navbar-default .navbar-nav{
  padding: 0;
  position: absolute;
  right: 5px;
  margin-right: 10px;
}
#menu.navbar-default .navbar-nav > li > a {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  padding: 8px 2px;
  border-radius: 0;
  margin: 9px 20px 0;
}
#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  right: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  content: "";
  transition: width 0.2s;
}
#menu.navbar-default .navbar-nav > li > a:hover:after {
  width: 80%;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:after,
.navbar-default .navbar-nav > .active > a:hover:after,
.navbar-default .navbar-nav > .active > a:focus:after {
  display: block !important;
  position: absolute !important;
  /* left: 0 !important; */
  bottom: -1px !important;
  width: 80% !important;
  height: 2px !important;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  content: "" !important;
  transition: width 0.2s !important;
}
.navbar-toggle {
  border-radius: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #fff;
  border-color: #608dfd;
}
.navbar-default .navbar-toggle:hover > .icon-bar {
  background-color: #608dfd;
}

@media (max-width:994px) and (min-width:768px){

  #menu.navbar-default .navbar-nav > li > a {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
    padding: 8px 2px;
    border-radius: 0;
    margin: 9px 8px 0;
  }

}

@media (max-width:884px) and (min-width:768px){
  #menu.navbar-default .navbar-nav{
    position: static;
  }
  /* .container{
    display: flex;
  } */
  .nav{
    display: flex;
  }
  #menu.navbar-default .navbar-nav > li > a{
    text-align: center;
  }
}

.btn-custom {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #fff;
  background-color: #5ca9fb;
  background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
  padding: 14px 34px;
  letter-spacing: 1px;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
  color: #fff;
  background-image: none;
  background-color: #6372ff;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline-offset: none;
}
/* Header Section */

#more{
  display: none;
}
.bhashan{
  text-align:justify;
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #06738A;
  font-size: large;
}

.about{
  margin: 50px 0px;
  border-radius: 10px;
  text-align: center;
}

.faculty-advisor{
  height: 150px;
  width: 170px;
  border-radius: 50%;
  border-color: #093660;
  border-width: 5px;
  border: 4px solid #06738A
}

.float{
  float: left;
}

.cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backG{
  background-color: #D0FFF7;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px;
}

.homeHead{
  font-size: 30px;
  text-align: left;
  color: #093660
}

.device{
  font-size: 20px;
  text-align: center;
  color: #093660
}

.installation{
  text-align: center;
  padding: 4%;
}



.faculty-head {
  font-size: 30px;
  text-align: left;
  color: #093660
}

.slot >p {
  font-size: 17px;
  text-align: justify;
  color: #0788a5;

}

.sec-heading {
  margin: auto;
  width: 85%;
  padding: 2% 0%;
}

@media (max-width:600px) {

  .sec-heading{
    width: 100%;
  }

}

#myBtn{
  background-color: #D0FFF7;
  color: #06738A;
  font-size: 15px;
  font-weight: 500;
  border: 0px;
  padding-bottom: 25px;
  padding-left: 3px;
}

.demo{
  background-color: rgb(205, 227, 245);
  padding: 5% 10%;
}

.demoimg{
  width: inherit;
}

.blue{
  background-color: rgb(230 242 252);
}


/* footer section */

.footer-main {
  /* width: 100vw; */
	padding: 50px;
	background: #093660;
}
 

#block-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-right: 2px solid rgb(177, 170, 170); */
}

#block-1 .head{
  margin-top: 50px;
  text-align: center;
}

.footer-main .block img {
  background: transparent;
  /* border-radius: 30px; */
	margin-bottom: 50px;
}

.footer-main .block img #small-Apps {
	fill: red;
}

.footer-main .block .icons ul.social-icon li a {
	text-decoration: none;
	display: block;
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background: #ffffff;
	color: #093660;
	text-align: center;
	line-height: 38px;
  font-size: 17px;
}

.footer-main .block .icons ul.social-icon li a:hover{
  transform: scale(1.1);
}

#fav1:hover{
  background-color: #375492;
}

#fav2:hover{
  background-color: #fff;
  color: #4198f5;
}

#fav3:hover{
  background-color: rgb(32, 81, 170);
}

@media (max-width: 768px) {
	.footer-main .block {
		margin-bottom: 40px;
	}
}

.footer-main .block .address {
	font-size: 15px;
	color: #09090a;
  font-family: 'Open Sans', sans-serif;
}

.footer-main .block .address a:hover {
	font-size: 12px;
	color: #111010;
}

.footer-classic {
	background: #fafafa;
	text-align: center;
	padding: 110px 0;
}

.footer-classic ul.social-icons {
	margin-bottom: 30px;
}

@media (max-width: 480px) {
	.footer-classic ul.social-icons li {
		margin-bottom: 10px;
	}
}
.profile{
  font-family: 'Open Sans', sans-serif;
  color: #093660;
}
@media (min-width:1200px){
  #block-1{
    border-right: 2px solid rgb(177, 170, 170);
  }
}

.footer-classic ul.footer-links li a {
	padding: 0 10px;
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #000;
} 
hr {
	display: block;
	/* height: 2px; */
	border: 0;
	border-top: 2px solid #06738A;
	margin: 1em 0;
	padding: 0;
}

#footer_copyright {
  display: block;
  background: #093660;
  border-color: #1a1b1f;
  color: rgb(131, 123, 123);
  text-align: center;
  padding: 5px;
}

.links{
  color:#84E8FF;
  line-height: 2.5rem;
}

.dropbtn {
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.logout{
  margin-top: 6px;
  background-color: #2196F3;
  border-radius: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

.dropdown-content a {
  border-radius: 10px;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(205, 238, 255);
  transform: scale(1.04);
}

.dropdown:hover .dropdown-content {display: block;width: 100%;
  margin: 0 auto;}

#outerDiv:hover #innerDiv{
  display: block;
}

#innerDiv{
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
}

.fixedNav{
  position: fixed;
  z-index: 1000;
}

.carousel{position:relative}

.carousel-inner{position:relative;width:100%;overflow:hidden}

.carousel-item{position:relative;display:none;-webkit-box-align:center;-ms-flex-align:center;align-items:center;width:100%;transition:-webkit-transform .6s ease;transition:transform .6s ease;transition:transform .6s ease,-webkit-transform .6s ease;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-perspective:1000px;perspective:1000px}

.carousel-item-next,.carousel-item-prev,.carousel-item.active{display:block}

.carousel-item-next,.carousel-item-prev{position:absolute;top:0}

.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translateX(0);transform:translateX(0)}

@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.carousel-item-next.carousel-item-left,.carousel-item-prev.carousel-item-right{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}}

.active.carousel-item-right,.carousel-item-next{-webkit-transform:translateX(100%);transform:translateX(100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-right,.carousel-item-next{-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}}

.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translateX(-100%);transform:translateX(-100%)}@supports ((-webkit-transform-style:preserve-3d) or (transform-style:preserve-3d)){.active.carousel-item-left,.carousel-item-prev{-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}}

.carousel-control-next,.carousel-control-prev{position:absolute;top:0;bottom:0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:15%;color:#fff;text-align:center;opacity:.5}

.carousel-control-next:focus,.carousel-control-next:hover,.carousel-control-prev:focus,.carousel-control-prev:hover{color:#fff;text-decoration:none;outline:0;opacity:.9}

.carousel-control-prev{left:0}

.carousel-control-next{right:0}

.carousel-control-next-icon,.carousel-control-prev-icon{display:inline-block;width:20px;height:20px;background:transparent no-repeat center center;background-size:100% 100%}

.carousel-control-prev-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")}

.carousel-control-next-icon{background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")}

.carousel-indicators{position:absolute;right:0;bottom:10px;left:0;z-index:15;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;padding-left:0;margin-right:15%;margin-left:15%;list-style:none}

.carousel-indicators li{position:relative;-webkit-box-flex:0;-ms-flex:0 1 auto;flex:0 1 auto;width:30px;height:3px;margin-right:3px;margin-left:3px;text-indent:-999px;background-color:rgba(255,255,255,.5)}

.carousel-indicators li::before{position:absolute;top:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}

.carousel-indicators li::after{position:absolute;bottom:-10px;left:0;display:inline-block;width:100%;height:10px;content:""}

.carousel-indicators .active{background-color:#fff}

.carousel-caption{position:absolute;right:15%;bottom:20px;left:15%;z-index:10;padding-top:20px;padding-bottom:20px;color:#fff;text-align:center}

.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;-webkit-clip-path:inset(50%);clip-path:inset(50%);border:0}

.sr-only-focusable:active,.sr-only-focusable:focus{position:static;width:auto;height:auto;overflow:visible;clip:auto;white-space:normal;-webkit-clip-path:none;clip-path:none}

.Size{
  width: 100%;
  height: 100vh;
}

#carouselExampleControls{
  margin-bottom: 30px;
}

.acadmic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* margin-top: 50px; */
}

.slot{

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
}

.extraBtn{
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 20px;
  background-color: #083661;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: 1px;
}

.extrabtn{
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 20px;
  background-color: #083661;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  margin: 1px;
}

.extraCont{
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  width: 100%;
  border-left: 2px solid rgb(59, 59, 170);
  border-right: 2px solid rgb(59, 59, 170);
  border-bottom: 2px solid rgb(59, 59, 170);
  display: none;
}

.extracont{
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  width: 100%;
  border-left: 2px solid rgb(59, 59, 170);
  border-right: 2px solid rgb(59, 59, 170);
  border-bottom: 2px solid rgb(59, 59, 170);
  display: none;
}


.left{
  display: inline-block !important;
  width: 40%;
  border-top: 2px solid #083661;
  margin: 0.55em 0;
}
.right{
  margin: 0.55em 0;
  border-top: 2px solid #083661;
  display: inline-block !important;
  width: 40%;
}
.left-lg{
  display: inline-block !important;
  width: 35%;
  border-top: 2px solid #083661;
  margin: 0.55em 0;
}
.right-lg{
  margin: 0.55em 0;
  border-top: 2px solid #083661;
  display: inline-block !important;
  width: 35%;
}
.homeHead{
  display: inline-block !important;
  width: 20%;
  text-align: center;
}
.homeHead-lg{
  display: inline-block !important;
  width: 30%;
  text-align: center;
}

@media (max-width:1040px) {
  .left{
    display: block !important;
    width: 100%;
    border-top: 2px solid #083661;
  }
  .right{
    border-top: 2px solid #083661;
    display: block !important;
    width: 100%;
  }
  .left-lg{
    display: block !important;
    width: 100%;
    border-top: 2px solid #083661;
  }
  .right-lg{
    border-top: 2px solid #083661;
    display: block !important;
    width: 100%;
  }
  .homeHead{
    display: block !important;
    width: 100%;
    text-align: center;
  }
  .homeHead-lg{
    display: block !important;
    width: 100%;
    text-align: center;
  }
}

.i-hub{
  background-image: url(../images/ihub.png);
}

.plus{
  float: right;
  margin-right: 10px;
}

.subHead{
  text-align: center;
  background-color: #031B31;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  padding: 2% 0%;
}

@media (max-width:500px) {
  .subHead{
    font-size: 17px;
  }
  
}

.sub-content{
  background-color: #CFFFF6;
  padding: 2%;
  color: #031B31;
  font-size: 15px;
}

.homeSlider{
  background-color: rgb(253, 253, 253);
  margin: 50px;
  height: 500px;
}

.sliderItem{
  background-color: rgba(251, 252, 253,0.75);
  width: 100%;
  border: 2px solid black;
  border-radius: 30px;
  overflow: scroll;
  transform: scale(0.9);
}


.slidePallet{
  display: flex;
  flex-direction: column;
  height: 350px;
  transform: scale(0.9);
}

::-webkit-scrollbar {
  display: none;
}

.slidePallet h4{
  text-align: center;
  font-weight: 800;
}

.slidePallet p{
  color: #5f6161;
  font-weight: 600;
}

.yearBtn{
  width: 100%;
  height: 50px;
  text-align: left;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid black;
  color: rgb(59, 58, 58);
}

.yearCont ul{
  margin-left: 40px;
}

.yearCont ul li{
  list-style-type: disc;
  text-indent: 0em;
  padding: 0.1em;
}

.yearCont{
  display: none;
  padding: 20px;
  font-size: 14px;
}

.subCont{
  text-align: justify;
}

.arrow{
  margin-left: 20px;
  margin-right: 20px;
  color: #959799;
}

.yearBtn{
  color: #5f6161;
  border: none;
  border-bottom: 2px solid #88b3e0;
  font-size: 30px;
  margin-bottom: 5px;
}

.yearBtn:hover{
  color: #79bcff;
}

.bann{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../images/resume_achievements.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.bannCont{
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 30px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0,0.5);
  color: white;
  top: 60%;
  right: 0%;
}

